*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "helvetica", sans-serif;
}

.btn {
  background: #F3976C;
  color: black;
  margin-top: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  white-space: nowrap;
  vertical-align: middle;
  outline: none !important;
}
.btn:hover {
  background: #c27956 !important;
  color: #FFFFFF !important;
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
}

a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}

a[data-lightbox]:hover::before {
  content: "+";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
  opacity: 0.6;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

#lightbox-modal {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
}

#lightbox-modal .modal-dialog {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
  max-height: 90vh;
  margin: 0 auto;
}

.lightbox-caption {
  padding: 20px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 20px;
}

.close-lightbox {
  color: #FFF;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  line-height: 30px;
  padding: 0 9px 5px;
  opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
  opacity: 1;
  color: #FFF;
}

.next-lightbox,
.prev-lightbox {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: 0.4;
}

.next-lightbox {
  padding: 6px 8px 1px 13px;
  right: 25px;
}

.prev-lightbox {
  padding: 6px 13px 1px 10px;
  left: 25px;
}

.snapshot-lb .modal-body {
  padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  background: none;
}

.cta_banniere {
  background-image: url(../img/la-chouette-agence-banniere.jpg);
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cta_banniere::before {
  background: url(../img/texture-paper.png);
  background-size: 280px 280px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cta_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta_details h2 {
  color: #F3976C;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 400;
  text-align: center;
  position: relative;
  background: #645c5d45;
  padding: 20px;
}
.cta_details .btn {
  position: relative;
}

footer {
  background-color: #F3976C;
  padding-top: 10px;
  padding-bottom: 5px;
}
footer .adress {
  font-size: 12px;
}
footer p {
  margin-bottom: 10px;
}
footer .lca {
  text-align: center;
  color: black;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .details {
  display: flex;
  max-width: 500px;
  justify-content: space-evenly;
  margin: auto;
}
footer .details .social {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}
footer .details .social .fa-twitter:hover {
  color: #1da1f2;
}
footer .details .social .fa-facebook:hover {
  color: #1877F2;
}
footer .details .social .fa-dribbble:hover {
  color: #ea4c89;
}
footer .details .social .fa-instagram:hover {
  background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer .details .social .fa-linkedin:hover {
  color: #0a66c2;
}
footer .details .scrollToTop {
  position: absolute;
  right: 10px;
}
footer .details .scrollToTop:hover {
  box-shadow: inset 1px -1px 10px 1px #00000080;
}
footer p {
  text-align: center;
  color: black;
  margin-top: 15px;
}
footer p .logo_ocr {
  width: 200px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .scrollToTop {
    margin-top: 65px;
    padding: 5px;
  }
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  line-height: 25px;
}
.header .header_logo img {
  height: 40px;
  margin-top: 5px;
}
.header ul {
  display: flex;
}
.header li {
  padding: 15px;
}
.header li a {
  color: #575757;
}

.menu, #toggle {
  display: none;
}

.menu {
  display: none;
}

@media all and (max-width: 768px) {
  .header {
    display: block;
    line-height: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .header nav {
    display: none;
    flex-direction: column;
  }
  .header ul {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .header li {
    padding: 10px;
    background-color: #a9a9a91c;
    padding-right: 24vw;
    padding-left: 24vw;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: inset -1px 1px 10px 1px #00000096;
    border-radius: 10px;
  }

  nav a {
    width: 50%;
  }

  #toggle:checked + nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    font-size: 30px;
    color: black;
    cursor: pointer;
    justify-content: flex-end;
    position: relative;
    top: -34px;
  }
}
.portfolio {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url(../img/lines-h2-bg.png);
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 50px;
  padding: 5px;
}
.portfolio .realisation {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio .realisation .col-sm-6 {
  max-width: 270px;
  padding: 15px;
}
.portfolio .realisation .col-sm-6 img {
  width: 100%;
}
.portfolio .realisation .col-sm-6 h3 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
.portfolio .realisation .col-sm-6 p {
  font-size: 11px;
  text-align: center;
  margin-bottom: 15px;
}

.presentation .banniere {
  background-image: url(../img/la-chouette-agence-banniere.jpg);
  background-attachment: fixed;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.presentation .banniere::before {
  background: url(../img/texture-paper.png);
  background-size: 280px 280px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.presentation .banniere .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.presentation .banniere .details img {
  width: 100px;
}
.presentation .banniere .details h1 {
  font-size: 32px;
  color: #F3976C;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #30303052;
  padding: 20px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .presentation .banniere {
    background-attachment: scroll;
  }
}
@media all and (max-width: 425px) {
  .presentation .banniere {
    background-image: url(../img/la-chouette-agence-banniere-mobile-min.jpg);
    background-position-x: center;
  }
}
.services {
  padding-top: 50px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.services h2 {
  font-weight: 400;
  color: #575757;
  text-align: center;
  max-width: 650px;
  font-size: 24px;
  margin: auto;
}
.services_presentation {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.services_cards {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 30px auto;
}
.services_cards span {
  text-align: center;
  font-size: 60px;
  margin-bottom: 15px;
  color: #364577;
  border-color: #364577;
}
.services_cards h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}
.services_cards p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #575757;
  margin-bottom: 10px;
}
.services .citation {
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.services .citation p {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  color: #575757;
  line-height: 1.4;
}
.services .citation .author {
  margin-top: 5px;
  font-size: 15px;
}

@media all and (max-width: 768px) {
  .services_presentation {
    flex-direction: column;
  }

  .citation p {
    padding: 10px;
  }
}
.wid {
  margin-top: 50px;
}
.wid_banniere {
  background-image: url(../img/image-de-presentation.jpg);
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.wid_banniere::before {
  background: url(../img/texture-paper.png);
  background-size: 280px 280px;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.wid_banniere .details {
  background-color: rgba(165, 147, 99, 0.7);
  padding: 40px;
  max-width: 600px;
  margin: auto;
}
.wid_banniere h2 {
  color: #F3976C;
  position: relative;
  text-align: center;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
.wid_banniere p {
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  position: relative;
  margin-bottom: 10px;
}
.wid_banniere a {
  color: #FFFFFF;
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  .wid_banniere {
    background-attachment: scroll;
  }
}
.talk_banniere {
  background-image: url(../img/dots-bg.png);
  background-color: #F3976C;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-size: auto;
}
.talk_banniere::before {
  background: url(../img/texture-paper.png);
  background-size: 280px 280px;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.talk_details {
  display: flex;
  flex-direction: column;
}
.talk_details h1 {
  margin: unset;
  text-align: center;
  position: relative;
  font-size: 70px;
  padding-bottom: 15px;
  background-color: #000000c2;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(192, 119, 85, 0.68);
  -webkit-background-clip: text;
}
.talk_details p {
  text-align: center;
  color: black;
  line-height: 1.4;
  font-size: 14px;
}

.contact {
  margin: 10px;
}
.contact .btn {
  box-shadow: -1px 3px 3px 1px #000000b0;
  border-radius: 4px;
  width: 100%;
  margin: auto;
}
.contact .btn:hover {
  box-shadow: inset -3px 0px 10px 0px black;
}

#form_1 {
  align-items: center;
  max-width: 440px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
#form_1 .form-group {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}
#form_1 .form-group .form-control {
  border: 1px solid #F3976C;
}
#form_1 .form-group .brief {
  font-size: 13px;
}

@media screen and (max-width: 425px) {
  .talk_details h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 376px) {
  .talk_details h1 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
