.talk{
    &_banniere{
        background-image: url(../img/dots-bg.png);
        background-color: $color-orange;
        padding-top: 70px;
        padding-bottom: 70px;
        position: relative;
        background-size: auto;
        &::before{
            background: url(../img/texture-paper.png);
            background-size: 280px 280px;
            
            background-attachment: fixed;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        } 
    }
    &_details{
        display: flex;
        flex-direction: column;
        h1{
            margin: unset;
            text-align: center;
            position: relative;
            font-size: 70px;
            padding-bottom: 15px;
            background-color: #000000c2;
            color: transparent;
            text-shadow: 2px 2px 5px rgb(192 119 85 / 68%);
            -webkit-background-clip: text;
        }
        p{
            text-align: center;
            color: $color-black;
            line-height: 1.4;
            font-size: 14px;
        }
    }
}
.contact{
    margin: 10px;

    .btn{
        box-shadow: -1px 3px 3px 1px #000000b0;
        border-radius: 4px;
        width: 100%;
        margin: auto;
        &:hover{
            box-shadow: inset -3px 0px 10px 0px black;
        }
    }
}

#form_1{
    
    align-items: center;
    max-width: 440px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    .form-group {
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        .form-control:focus {
            // border: 1px solid $color-orange;
            border-color: #ccc;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(243 151 108);
        }
        .brief{
            font-size:13px;
        }
    }
    
}

@media screen and (max-width:425px) {
    .talk_details h1{
        font-size:60px;
    }
}

@media screen and (max-width:376px) {
    .talk_details h1{
        font-size:50px;
    }
}