.footer{
    background-color: $color-orange;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
        text-align: center;
        color: $color-white;
        margin-bottom: 15px;
    }
    &_details{
        display: flex;
        max-width: 500px;
        justify-content: space-evenly;
        margin: auto;
        .social{
            font-size: 30px;
            color: rgba(255, 255, 255, .6);
        }
    }
    
}