footer{
    background-color: $color-orange;
    padding-top: 10px;
    padding-bottom: 5px;
    
    .adress{
        font-size:12px;
    }
    p{
        margin-bottom: 10px;
    }
    .lca{
        text-align: center;
        color: $color-black;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .details{
        display: flex;
        max-width: 500px;
        justify-content: space-evenly;
        margin: auto;
        .social{
            font-size: 30px;
            color: rgba(255, 255, 255, .6);
            .fa-twitter:hover{
                color:$color-twitter;
            }
            .fa-facebook:hover{
                color:$color-facebook;
            }
            .fa-dribbble:hover{
                color:$color-dribbble;
            }
            .fa-instagram:hover{
                background:$color-instagram;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            .fa-linkedin:hover{
                color:$color-linkedin;
            }
        }
        .scrollToTop{
            position: absolute;
            right:10px;
            &:hover{
                box-shadow: inset 1px -1px 10px 1px #00000080;
            }
        }
    }
    p{
        text-align: center;
        color: $color-black;
        margin-top: 15px;
        .logo_ocr{
            width:200px;
            height:25px;
        }
    }
    
}
// .footer_p2{
//     box-shadow: inset 1px 1px 10px 1px #0000007a, inset -1px -1px 10px 1px #0000007a;
//     margin-left: 5%;
//     margin-right: 5%;
//     border-radius: 40px;
//     background-color: #f3976ce3;
// }

@media screen and (max-width:768px) {
    .scrollToTop{
        margin-top: 65px;
        padding: 5px;
    }
}