.presentation{
    .banniere{
        background-image: url(../img/la-chouette-agence-banniere.jpg);
        background-attachment: fixed;
        position: relative;
        padding-top:100px;
        padding-bottom:100px;
        &::before{
            background: url(../img/texture-paper.png);
            background-size: 280px 280px;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .details{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img{
                width:100px;
            }
            h1{
                font-size: 32px;
                color: $color-orange;
                margin-top: 20px;
                margin-bottom:10px;
                background: #30303052;
                padding: 20px;
            }
        
        }
    }
}

@media all and (max-width:768px){
    .presentation{
        .banniere{
            background-attachment: scroll;
        }
    }
}