//COLORS//

$color-white: #FFFFFF;
$color-black: black;
$color-orange: #F3976C;
$color-text: #575757; //!important
$color-title-img: #333333; //!important
$color-icons: #364577; //!important

//POLICE//
$size-logo: 40px;
$font-text: "helvetica", sans-serif;