//COLORS//

$color-white: #FFFFFF;
$color-black: black;
$color-orange: #F3976C;
$color-text: #575757; //!important
$color-title-img: #333333; //!important
$color-icons: #364577; //!important
$color-facebook:#1877F2;
$color-twitter:rgba(29,161,242,1.00);
$color-instagram:linear-gradient(49.2deg,#f9ed32 10%,#ee2a7b 55%,#002aff);
$color-dribbble:#ea4c89;
$color-linkedin:#0a66c2;

//POLICE//
$size-logo: 40px;
$font-text: "helvetica", sans-serif;